body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cardHolder {
}

.mediumWrap {
  /* display: grid; */
  grid-auto-flow: dense;
}

.flexTweet {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.MuiPaper-root {
  margin: 0 20px 25px 0px;
}

.makeStyles-root-1 {
  background-color: black;
}

.MuiGrid-item {
  height: fit-content;
}

.mediumWrap {
  column-gap: 0;
}

.MuiAppBar-colorPrimary {
  background-color: black !important;
}

.loaderHar {
  position: relative;
  align-items: center;
  text-align: center;
}
